* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
}

.go-back-button {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  margin-top: 60px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.position-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.position {
  position: relative;
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  color: #777;
}

.position.active {
  color: #333;
}

.progress-bar {
  background-color: #f1f1f1;
  height: 6px;
  position: relative;
}

.progress-bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4CAF50;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

input, select {
  margin-bottom: 30px;
}

.billing-heading {
  text-align: center;
  margin-bottom: 50px;
}

.billing-container,
.payment-container,
.orderConfirmationPage,
.orderConfirmationPage button,
.icon-container,
#backButton1,
#confirm1,
#confirm3 {
  margin-bottom: 30px;
}

.billing-container h3,
.payment-container h3,
.orderConfirmationPage h3 {
  margin-bottom: 10px;
}

.billing-container form,
.placeOrder, .editButton,
#backButton3 {
  margin-top: 30px;
}

.order-items-list{
  list-style-type: none;
}

.billing-container label,
.payment-container label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.billing-container label i {
   margin-right: 15px;
}

.billing-container input,
.payment-container input,
.billing-container select,
.payment-container select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#paymentHeading, #orderConfirmationPageHeading{
  display: none;
}

.placeOrder {
  margin-right: 20px;
}

.billing-container button,
#paymentContainer button,
.orderConfirmationPage button,
#confirm3 {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.payment-container .icon-container {
  margin-top: 10px;
}

.payment-container .icon-container i {
  margin-right: 10px;
  font-size: 30px;
}

#checkboxProgressBar {
  cursor: pointer;
  /* border: 1px solid blue; */
}

.modal, .modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content, .modal-content2 {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 5px;
}

.close, .close2 {
  color: #aaa;
  margin-left: 420px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus,
.close2:hover,
.close2:focus {
  color: black;
  cursor: pointer;
}

#goToShoppingButton, #goToShoppingButton2 {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#goToShoppingButton:hover, #goToShoppingButton2:hover {
  background-color: #1df528;
}

@media (max-width: 480px) {
  .container {
    max-width: 90%;
  }

  .position-bar {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .position {
    font-size: 14px;
  }

  .progress-bar {
    height: 4px;
  }

  .billing-heading {
    margin-bottom: 30px;
  }

  .go-back-button {
    margin-top: 20px;
    position: static;
  }
}

@media (min-width: 481px) and (max-width: 576px) {
  .container {
    max-width: 90%;
  }

  .go-back-button {
    margin-top: 20px;
    position: static;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .container {
    max-width: 90%;
  }

  .go-back-button {
    margin-top: 20px;
    position: static;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .container {
    max-width: 60%;
  }

  .billing-container,
  .payment-container,
  .orderConfirmationPage {
    margin-bottom: 20px;
  }

  .billing-container h3,
  .payment-container h3,
  .orderConfirmationPage h3 {
    margin-bottom: 8px;
  }

  .payment-container .icon-container {
    margin-top: 8px;
  }

  .modal-content {
    margin: 10% auto;
    padding: 15px;
    max-width: 400px;
  }

  .close {
    margin-left: 340px;
  }

  #goToShoppingButton {
    margin-top: 15px;
  }
}
