* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

#dropdown {
  margin: 40px 0px 0px 40px;
}

.container {
  padding: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.boxes {
  border: 2px solid grey;
  padding: 10px;
  position: relative;
  display: grid;
  align-items: center;
}

.images {
  padding-top: 15px;
  object-fit: contain;
}

.bottom-field {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  list-style-type: none;
}

#next {
  list-style-type: none;
  padding: 6px 16px;
  color: #999;
  border-radius: 5px;
  list-style-type: none;
}

#prev {
  list-style-type: none;
  padding: 6px 16px;
  color: #999;
  border-radius: 5px;
}

.list {
  list-style-type: none;
  padding: 2px;
  margin: 10px;
  flex-shrink: 0;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #999;
  color: #999;
}

.list.active,
#next:hover,
#prev:hover,
.list:hover {
  background: #007bff;
  color: white;
  border-color: #007bff;
  list-style-type: none;
}

.pagination li a {
  text-decoration: none;
  padding: 3px 8px;
  color: inherit;
  display: block;
  font-family: sans-serif;
  font-size: 22px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-content {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  width: 100%;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.tooltip:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.no-data {
  margin-top: 50px;
  font-size: 24px;
  color: #999;
}

.search_bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_bar input[type="search"] {
  width: 500px;
  height: 46px;
  padding: 5px 15px;
  font-size: 16px;
  border-radius: 25px 0px 0px 25px;
}

.search_bar button {
  padding: 13px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 0px 25px 25px 0px;
}

.download-link {
  position: absolute;
  top: 0px;
  right: 0px;
  color: darkblue;
}

span.price {
  float: right;
  color: grey;
}

@media only screen and (max-width: 992px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .boxes {
    position: relative;
    /* width: 250px; */
  }

  .search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .search_bar input[type="search"] {
    width: 60%;
  }

  #search-button {
    width: auto;
  }

  .pagination {
    margin: 30px;
    list-style-type: none;
  }
}

@media only screen and (max-width: 836px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    padding: 0;
  }

  .boxes {
    /* position: relative; */
    width: 265px;
  }

  .search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .search_bar input[type="search"] {
    width: 60%;
  }

  #search-button {
    width: auto;
  }

  .pagination {
    margin: 30px;
    list-style-type: none;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .boxes {
    width: auto;
  }

  .button{
    padding: 10px;
  }

  .search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search_bar input[type="search"] {
    width: 60%;
  }

  #search-button {
    width: auto;
  }

  .pagination {
    margin: 30px;
    list-style-type: none;
  }
}

@media only screen and (max-width: 615px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search_bar input[type="search"] {
    width: 60%;
  }

  #search-button {
    width: auto;
  }

  .pagination li {
    margin: auto;
    list-style-type: none;
  }

  .pagination {
    margin: 30px;
    list-style-type: none;
  }
}


@media only screen and (max-width: 480px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search_bar input[type="search"] {
    width: 100%;
  }

  #search-button {
    width: auto;
  }

  .pagination li {
    margin: auto;
    list-style-type: none;
  }

  .pagination {
    margin: 30px;
    list-style-type: none;
  }
}