* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

#dropdown {
   margin: 40px 0px 0px 40px;
}

.container {
  padding: 30px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.boxes {
  border: 2px solid grey;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  width: 130px;
  height: 30px;
  border-radius: 20px;
}

.images {
  width: 240px;
  /* height: 200px; */
  /* object-fit: cover; */
}

.bottom-field {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li {
  list-style: none;
  padding: 2px;
  margin: 10px;
  flex-shrink: 0;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #999;
  color: #999;
}

.pagination li.active,
.pagination li:hover {
  background: #32d6aa;
  color: white;
  border-color: #32d6aa;
}

.pagination li a {
  text-decoration: none;
  padding: 3px 8px;
  color: inherit;
  display: block;
  font-family: sans-serif;
  font-size: 22px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip-content {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  width: 100%;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.tooltip:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.button {
  width: 130px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
}

.no-data {
  margin-top: 50px;
  font-size: 24px;
  color: #999;
}

.search_bar {
  text-align: center;
  margin: 20px;
  margin-top: -40px;
}

.search_bar input[type="search"] {
  width: 500px;
  height: 45px;
  padding: 5px;
  font-size: 16px;
}

.search_bar button {
  padding: 14px 20px;
  background-color: #32d6aa;
  border: none;
  color: white;
  cursor: pointer;
}

a {
  color: darkblue;
}

#fontAwesomeIcon{
    margin-left: 200px;
}

span.price {
  float: right;
  color: grey;
}

.pagination{
  margin-bottom: 30px;
}

@media only screen and (max-width: 992px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search_bar input[type="search"] {
    width: 60%;
    margin-top: 100px;
  }

  #search-button{
    width: auto;
    margin-top: 100px;
  }

  .pagination{
    margin: 30px;
  }
}

@media only screen and (max-width: 836px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    padding: 0;
  }

  .boxes {
     width: 250px;
  }

  .search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search_bar input[type="search"] {
    width: 60%;
    margin-top: 100px;
  }

  #search-button{
    width: auto;
    margin-top: 100px;
  }

  .pagination{
    margin: 30px;
  }
}



@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .boxes {
    width: auto;
 }
  
  .search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search_bar input[type="search"] {
    width: 60%;
    margin-top: 100px;
  }

  #search-button{
    width: auto;
    margin-top: 100px;
  }

  .pagination{
    margin: 30px;
  }
}

@media only screen and (max-width: 615px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search_bar input[type="search"] {
    width: 60%;
    margin-top: 100px;
  }

  #search-button{
    width: auto;
    margin-top: 100px;
  }

  .pagination li{
    margin: auto;
  }

  .pagination{
    margin: 30px;
  }
}


@media only screen and (max-width: 480px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search_bar input[type="search"] {
    width: 100%;
    margin-top: 100px;
  }

  #search-button{
    width: auto;
    margin-top: 100px;
  }

  .pagination li{
    margin: auto;
  }

  .pagination{
    margin: 30px;
  }
}